* {
  padding: 0;
  margin: 0;
}


body {
  background-image: url('./assets/img/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.Navbar {
  background-color: #39584B;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px #00000040;


}

.home{
  display: flex;
  align-items: center;
}

.home img{
  width: 55px;
  height: 55px;
  padding: 6px;
}

#title p{
  text-shadow: 2px 2px 7px #00000040;
}

#title{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  color: #F1F1F1;
  font-size: 50px;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 7px;
}

.profile img{
  width: 70px;
  height: auto;
}

#dropdown-button-drop{
  background-color: transparent;
  cursor: pointer;
  border: 0px;
}

.AdicionarAtividade{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

#btn-AdicionarAtividade{
  background: none;
  border: none;
  cursor: pointer;
  width: 4px;
  height: auto;
}

#text-AdicionarAtividade{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  color: #F1F1F1;
}


.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}